In [2]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [3]:
# csv to dataframe
df_buses_1=pd.read_csv(r"C:\Users\gokul\Desktop\capstoneproject\redbus\df_buses_1.csv")
df_buses_2=pd.read_csv(r"C:\Users\gokul\Desktop\capstoneproject\redbus\df_buses_2.csv")
df_buses_3=pd.read_csv(r"C:\Users\gokul\Desktop\capstoneproject\redbus\df_buses_3.csv")
df_buses_4=pd.read_csv(r"C:\Users\gokul\Desktop\capstoneproject\redbus\df_buses_4.csv")
df_buses_5=pd.read_csv(r"C:\Users\gokul\Desktop\capstoneproject\redbus\df_buses_5.csv")
df_buses_6=pd.read_csv(r"C:\Users\gokul\Desktop\capstoneproject\redbus\df_buses6.csv")
df_buses_7=pd.read_csv(r"C:\Users\gokul\Desktop\capstoneproject\redbus\df_buses7.csv")
df_buses_8=pd.read_csv(r"C:\Users\gokul\Desktop\capstoneproject\redbus\df_buses8.csv")
df_buses_9=pd.read_csv(r"C:\Users\gokul\Desktop\capstoneproject\redbus\df_buses9.csv")
df_buses_10=pd.read_csv(r"C:\Users\gokul\Desktop\capstoneproject\redbus\df_buses10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 3722,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,20:45,06h 15m,INR 412,30 Seats available,3.2\n27,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
1,APSRTC - 3859,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),15:15,21:25,06h 10m,INR 615,32 Seats available,3.1\n73,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
2,APSRTC - 3356,NIGHT RIDER (SEATER CUM SLEEPER),15:45,22:45,07h 00m,INR 639,33 Seats available,3.8\n28,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
3,APSRTC - 3546,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:15,22:30,06h 15m,INR 615,34 Seats available,3.7\n86,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
4,APSRTC - 3500,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:20,00:45,08h 25m,INR 469,18 Seats available,3.5\n11,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
...,...,...,...,...,...,...,...,...,...,...
2358,Satadal Travels,A/C Seater (2+2),14:56,18:15,03h 19m,INR 170,40 Seats available,3.8,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2359,Diamond City Service,A/C Executive (2+3),15:10,18:55,03h 45m,170,47 Seats available,4.5\n454,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2360,Droupadi Paribahan,A/C Seater (2+3),14:10,16:58,02h 48m,INR 160,61 Seats available,2.7\n31,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2361,KRISHNAKALI,A/C Seater (2+3),14:45,17:30,02h 45m,INR 165,61 Seats available,2.2\n50,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2362,Droupadi Bus Service,Non AC Seater (2+3),16:20,19:10,02h 50m,INR 121,54 Seats available,2.7\n20,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia

In [4]:
Final_df["Seats_Available"]

0       30 Seats available
1       32 Seats available
2       33 Seats available
3       34 Seats available
4       18 Seats available
               ...
2358    40 Seats available
2359    47 Seats available
2360    61 Seats available
2361    61 Seats available
2362    54 Seats available
Name: Seats_Available, Length: 2363, dtype: object

In [5]:
Final_df["Seats_Available"] = Final_df["Seats_Available"].astype(str).str.extract(r'(\d+)').astype(int)

In [6]:
Final_df["Seats_Available"]

0       30
1       32
2       33
3       34
4       18
        ..
2358    40
2359    47
2360    61
2361    61
2362    54
Name: Seats_Available, Length: 2363, dtype: int64

In [7]:
Final_df["Ratings"]

0        3.2\n27
1        3.1\n73
2        3.8\n28
3        3.7\n86
4        3.5\n11
          ...
2358         3.8
2359    4.5\n454
2360     2.7\n31
2361     2.2\n50
2362     2.7\n20
Name: Ratings, Length: 2363, dtype: object

In [8]:
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       412.0
1       615.0
2       639.0
3       615.0
4       469.0
        ...
2358    170.0
2359    170.0
2360    160.0
2361    165.0
2362    121.0
Name: Price, Length: 2363, dtype: float64

In [10]:
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"] = Final_df["Ratings"].fillna(0)

In [11]:
Final_df["Ratings"]

0       3.2
1       3.1
2       3.8
3       3.7
4       3.5
       ...
2358    3.8
2359    4.5
2360    2.7
2361    2.2
2362    2.7
Name: Ratings, Length: 2363, dtype: float64

In [12]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [19]:
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 3722,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,20:45,06h 15m,412.0,30,3.2,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
1,APSRTC - 3859,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),15:15,21:25,06h 10m,615.0,32,3.1,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
2,APSRTC - 3356,NIGHT RIDER (SEATER CUM SLEEPER),15:45,22:45,07h 00m,639.0,33,3.8,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
3,APSRTC - 3546,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:15,22:30,06h 15m,615.0,34,3.7,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
4,APSRTC - 3500,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:20,00:45,08h 25m,469.0,18,3.5,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
...,...,...,...,...,...,...,...,...,...,...
2358,Satadal Travels,A/C Seater (2+2),14:56,18:15,03h 19m,170.0,40,3.8,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2359,Diamond City Service,A/C Executive (2+3),15:10,18:55,03h 45m,170.0,47,4.5,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2360,Droupadi Paribahan,A/C Seater (2+3),14:10,16:58,02h 48m,160.0,61,2.7,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2361,KRISHNAKALI,A/C Seater (2+3),14:45,17:30,02h 45m,165.0,61,2.2,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2362,Droupadi Bus Service,Non AC Seater (2+3),16:20,19:10,02h 50m,121.0,54,2.7,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia

In [13]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [14]:
# change dataframe to csv
path=r"C:\Users\gokul\Desktop\capstoneproject\redbus\final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

In [20]:
Final_df["Seats_Available"]

0       30
1       32
2       33
3       34
4       18
        ..
2358    40
2359    47
2360    61
2361    61
2362    54
Name: Seats_Available, Length: 2363, dtype: int64

In [21]:
print(type(Seat_availability_range[0]), type(Seat_availability_range[1]))

NameError: name 'Seat_availability_range' is not defined

# Create Sql connection

In [16]:
import pymysql
connection = pymysql.connect(
    host='localhost',  # Your host
    user='root',       # Your MySQL username
    password='123456789',  # Your MySQL password
    
)
mycursor = connection.cursor()
mycursor

In [17]:
query = "drop database RED_BUS_DETAILS"
mycursor.execute(query)

1

In [18]:
# Table Creation
mycursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")
mycursor.execute("USE RED_BUS_DETAILS")
mycursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [19]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

mycursor.executemany(insert_query, data)

connection.commit()

print("Values inserted successfully")

Values inserted successfully

In [14]:
pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.38-cp313-cp313-win_amd64.whl.metadata (9.9 kB)
Collecting greenlet!=0.4.17 (from SQLAlchemy)
  Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\gokul\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (4.12.2)
Downloading SQLAlchemy-2.0.38-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ----------------------------------- ---- 1.8/2.1 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 6.7 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl (299 kB)
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-2.0.38 greenlet-3.1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip